<html>
  <head>
    <title>Enter Developer Key</title>
  </head>
  <body>
    <h1>Enter your <a href="https://www.linkedin.com/secure/developer">LinkedIn Developer Credentials</a></h1>

    <form action="/go" method="post">
      <fieldset>
        <p>
          <label>LinkedIn API Key:</label><br/>
          <input type="text" name="key"/>
        </p>
        
        <p>
          <label>LinkedIn Secret Key:</label><br/>
          <input text="text" name="secret"/>
        </p>
        
        <input type="submit" name="submit" value="Authenticate"/>
      </fieldset>
    </form>
  </body>
</html>
