<html>
  <head>
    <title>Your Access Token</title>
  </head>
  <body>
    <h1>Your Access Token</h1>
    <ul>
      <li><%= @token.first %></li>
      <li><%= @token.last  %></li>
    </ul>
  </body>
</html>
